/**
 * Admin CSS
 */

/* Google map widget */
.pt-widget-single-location,
.pt-widget-single-testimonial,
.pt-widget-single-person,
.pt-widget-single-social-icon,
.pt-widget-single-counter,
.pt-widget-single-accordion-item,
.pt-widget-single-step {
	padding: 0 10px;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.03);
	margin-bottom: 10px;
}

.pt-remove-location,
.pt-remove-testimonial,
.pt-remove-person,
.pt-remove-social-icon,
.pt-remove-counter,
.pt-remove-accordion-item,
.pt-remove-step-item {
	text-decoration: none;
}

/* Banner widget */
.button-shortcodes {
	color: #999999;
}

/* Icon box */
.icon-widget {
	font-size: 16px;
	color: #999999;
}

.icon-widget:hover {
	color: #454545;
}

/* Skype widget */
.skype-widget-small-text {
	color: #999999;
}

.skype-widget-small-text code{
	font-size: 10px;
}

/* Remove Custom Sidebar premium buttons */
.csb-pro-layer {
	display: none;
}

/* PT/PW icon for page builder widgets (add new widget section) */
.widget-icon.pw-pb-widget-icon {
	background-size: cover;
	background-image: url("../images/pt.svg");
}
