/**
 * Admin CSS
 */

/* google map widget */
.pt-widget-single-location,
.pt-widget-single-testimonial,
.pt-widget-single-person,
.pt-widget-single-social-icon,
.pt-widget-single-counter {
	padding: 0 10px;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.03);
	margin-bottom: 10px;
}
.pt-remove-location,
.pt-remove-testimonial,
.pt-remove-person,
.pt-remove-social-icon,
.pt-remove-counter {
	text-decoration: none;
}

/* banner widget */
.button-shortcodes {
	color: #999999;
}

/* icon box */
.icon-widget {
	font-size: 16px;
	color: #999999;
}

.icon-widget:hover {
	color: #454545;
}

/* skype widget */
.skype-widget-small-text {
	color: #999999;
}
.skype-widget-small-text code{
	font-size: 10px;
}