{{{ args.before_widget }}}

	{{# social-icons }}
		<a class="social-icons__link" href="{{{ link }}}" target="{{ instance.target }}"><i class="fa  {{ icon }}"></i></a>
	{{/ social-icons }}

{{{ args.after_widget }}}