{{{ before-widget }}}

	<div id="carousel-persons-{{ widget-id }}" class="carousel slide" data-ride="carousel" {{ data-interval }}>
		<div class="carousel-inner" role="listbox">
			{{# persons }}
				<div class="item {{ active }}">
					{{# tag }}
						{{# link }}
							<a href="{{ link }}" class="about-us__tag">{{ tag }}</a>
						{{/ link }}
						{{^ link }}
							<div class="about-us__tag">{{ tag }}</div>
						{{/ link }}
					{{/ tag }}

					{{# image }}
						<img class="about-us__image" src="{{ image }}" alt="{{ image-alt-text }}">
					{{/ image }}

					<h5 class="about-us__name">{{ name }}</h5>
					<p class="about-us__description">{{ description }}</p>
					{{# link }}
						<a href="{{ link }}" class="read-more  about-us__link">{{ read-more-text }}</a>
					{{/ link }}
				</div>
			{{/ persons }}
		</div>
	</div>

	{{# navigation }}
		<div class="about-us__navigation">
			<a class="person__carousel  person__carousel--left about-us__navigation__left" href="#carousel-persons-{{ widget-id }}" data-slide="prev">
				<i class="fa  fa-chevron-left" aria-hidden="true"></i>
				<span class="sr-only" role="button">{{ previous-text }}</span>
			</a>
			<a class="person__carousel  person__carousel--right about-us__navigation__right" href="#carousel-persons-{{ widget-id }}" data-slide="next">
				<i class="fa  fa-chevron-right" aria-hidden="true"></i>
				<span class="sr-only" role="button">{{ next-text }}</span>
			</a>
		</div>
	{{/ navigation }}

{{{ after-widget }}}