{{{ before-widget }}}

	<div
		class="simple-map  js-where-we-are"
		data-latlng="{{{ lat-lang }}}"
		data-markers="{{{ locations }}}"
		data-zoom="{{ zoom }}"
		data-type="{{{ type }}}"
		data-style="{{{ styles }}}"
		style="height: {{ height }}px;"
	></div>

{{{ after-widget }}}