{{{ before-widget }}}

	<a class="skype-button" href="{{{ skype-username }}}">
		<i class="fa  fa-{{ skype-or-phone }}"></i>
		<p class="skype-button__title">{{ title }}</p>
	</a>

{{{ after-widget }}}