{{{ before-widget }}}

	{{# social-icons }}
		<a class="social-icons__link" href="{{{ link }}}" target="{{ link-target }}"><i class="fa  {{ icon }}"></i></a>
	{{/ social-icons }}

{{{ after-widget }}}