{{{ args.before_widget }}}

	<div class="call-to-action">
		<div class="call-to-action__text">
			{{{ instance.text }}}
		</div>
		<div class="call-to-action__button">
			{{{ instance.button_text }}}
		</div>
	</div>

{{{ args.after_widget }}}