{{{ before-widget }}}

	{{{ title }}}

	<a class="brochure-box" href="{{{ brochure-url }}}" target="{{ link-target }}">
		<span class="brochure-box__icon"><i class="fa  {{ brochure-icon }}"></i></span>
		<h5 class="brochure-box__text">{{ brochure-text }}</h5>
	</a>

{{{ after-widget }}}