{{{ args.before_widget }}}

	<a class="skype-button" href="{{ instance.skype_username }}">
		<i class="fa  fa-{{ instance.icon }}"></i>
		<p class="skype-button__title">{{ instance.title }}</p>
	</a>

{{{ args.after_widget }}}